@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.textBox{

  outline: 2px solid black;
  padding: 3%;
  outline-offset: 16px;
  border-radius: 0.125rem;
  margin: 3rem;
  white-space: pre-wrap;
  width: 36vw;
  
}

.textInputBox {

  outline: 2px solid black;
  outline-offset: 1px;
  margin-top: 2rem;

  width: 50%;

}

button{
  margin-top: 1rem;
  width: 40%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}